<section
  class="slide-<%=index%>"
  data-background-transition="none"
  data-background-image="<%= loadImage(theme.background) %>"
>
  <%- slide %> <% fragments.forEach(frag => { %>
  <div class="fragment">
    <%- frag %>
  </div>
  <% }); %>
</section>
